body {
  margin: 0;
  font-family: 'Satoshi'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  box-sizing: border-box;
}

code {
  font-family: 'Satoshi'
      sans-serif;
}
